body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App__header-container,
.App__robot-card-container,
.App__main-button-container,
.App__robot-figure-container,
.App__player-turn {
  margin-bottom: 1rem;
}

/* App styles */
.App__header-container {
  position: relative;
}

.App__header {
  font-size: 2rem;
}

.App__hamburger {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.App__robot-card-container {
  display: flex;
  justify-content: space-evenly;
}

.App__player-turn {
  font-size: 1.5rem;
}

/* Robot Card */
.robot-card {
  width: 30rem;
}

.robot-card__specs {
  list-style-type: none;
}

/* Robot Figure */
.robot-figure {
  width: 150px;
  margin-right: 1rem;
}

.robot-figure button {
  width: 100%;
}

.robot-figure__delete {
  margin-top: 1rem;
}

.robot-figure__hidden-button {
  visibility: hidden;
}

/* Add Robot Modal */
.form-error {
  color: #d9534f;
}
